/* html {
    font-size: 15px;
    line-height: 160%;
}
body {
    font-family: "Georgia", serif;
}
:focus {
    outline-color: gold;
}
.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: "Verdana", sans-serif;
    color: rgb(3, 39, 202);
}
.form-equation {
    width: 50%;
    margin: auto;
}
.form-equation fieldset {
    text-align: center;
    border: 2px dotted rgb(230, 243, 114);
    background-image: linear-gradient(45deg, #def0b5 0%,#e3f5ab 33%,#a9bd69 100%);
}
.form-equation legend {
    padding: 0 15px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(0, 153, 13);
}
.form-equation .params {
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 0.95rem;
    border: 3px ridge rgb(255, 255, 255);
    color: rgb(3, 187, 19);
}

.form-equation .range {
    margin-top: 15px;
    margin-right: 20px;

    width: 150px;
}

.form-equation .buttons {
    margin-top: 15px;
}
.form-equation .btn {
    padding: 7px 20px;
    border: 1px solid rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.25s;
}
.form-equation .btn[disabled] {
    cursor: auto !important;
    color: rgb(170, 169, 169);
    background-image: none;
    background-color: rgb(224, 223, 223);
}
.form-equation .btn:hover {
    cursor: pointer;
    filter: saturate(2);
}
.form-equation .btn-calc {
    margin-right: 20px;
    background-image: linear-gradient(135deg, #669443 0%,#346d0c 50%, #669443 100%);
}
.form-equation .btn-reset {
    background-image: linear-gradient(135deg, #944f43 0%,#c23e27 50%, #944f43 100%);
}
.solution {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    font-size: 1.5rem;
    background-color: lightyellow;
    border-left: 20px solid gold;
}
.solution strong {
    font-weight: bold;
    color: rgb(200, 75, 3);
} */



.image {
    width: 40%;
    height: 40%;
     margin-top: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
